body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

/* *: a universal selector
    border-box: remove extra paddings that come with every element by default
    --> now the padding, margin, and border do not affect the ELEMENT SIZE
*/
* {
    box-sizing: border-box;
}